@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}

a {
    text-align: center;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* Layout */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section article {
    width: 980px;
    height: 500px;
    /* border: 1px solid #000; */
}

.heading {
    text-align: center;
}

.heading span {
    color: crimson;
    font-size: 24px;
}

.heading h1 {
    font-size: 36px;
    margin-top: 10px;
}

.heading h1 em {
    font-style: normal;
    position: relative;
}

.heading h1 em:after {
    position: absolute;
    content: url(images/logo-kakao.png);
    right: -30px;
    top: -25px;
}

.content {
}

.content > div {
    /* border: 1px solid blue; */
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    float: left;
}

.accordion {
}

.title {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 17px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.title:after {
    content: "\f105";
    font-family: fontawesome;
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    transition: 0.3s;
}

.title:hover,
.title.active {
    background-color: #203049;
    color: #fff;
}

.accordion .title.active .image img{
    transition: 0.5s;
}

.title.active:after {
    transform: rotate(90deg);
    color: orange;
}

.desc {
    padding: 20px;
    display: none;
}

.desc.active{
    display: block;
}

